@import './UserBar.css';
@import './SideBar.css';

.MainStatsDiv {
    display: flex;
}

.StatsDiv {
    float:right;
    background: #242d34;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}

.StatsName {
    color: #f8fc00;
}