@import './UserBar.css';
@import './SideBar.css';

.MainStatsDiv {
    display: flex;
}

.StatsDiv {
    float:right;
    background: #242d34;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}

.StatsName {
    color: #f8fc00;
}

.Loading {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
}

.LoadingLabel {
    font-family: Trim,'DAZN-Bold',Oscine;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #f8fc00;
    margin-top: 20px;
}

.Repo {
    width: 100%;
    position: absolute;
    left: 47%;
    top: 45%;
    transform: rotate(90deg);
    background: #f8fc00;
}

.RepoLabel {
    font-family: Trim,'DAZN-Bold',Oscine;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    color: #242d34;
    margin-top: 20px;
    height: 40vh;
    text-transform: capitalize;
}