.user {
    background: #242d34;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 3px;
}

.avatar {
    width: 5vh;
    margin-right: 40px;
}

.avatar .picture {
    width: 60px;
    margin: 15px;
    border: 2px solid #343b3f;
    border-radius: 5px;
    box-shadow: 2px 3px 8px #000000;
}

.form {
    background: #f8fc00;
    margin: 10px;
    width: 350px;
    max-width: 400px;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 2px 3px 8px #000000;
}

.form .label {
    font-family: Trim, 'DAZN-Bold', Oscine;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #242d34;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vh;
    max-width: 10%;
    background: #f8fc00;
    border: 2px solid #343b3f;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 2px 3px 8px #000000;
}

.data .label {
    font-family: Trim, 'DAZN-Bold', Oscine;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #242d34;
    padding: 10px;
}

.CircularProgressbar {
    width: 7vh;
    margin-right: 10px;
    margin-left: 160px;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke-linecap: butt;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #343b3f;
}

.CircularProgressbar .CircularProgressbar-text {
    font-size: 25px;
    font-family: Trim, "DAZN-Bold", Oscine;
    font-style: normal;
    font-weight: 700;
    dominant-baseline: middle;
    text-anchor: middle;
    display: inline-block;
    border: 0;
}