 .UserBar {
    background: #242d34;
    display: flex;
    align-items: center;
    justify-content: center;
 } 

.UserPicture {
  width: 6%;
  margin: 15px;
  border: 2px solid #343b3f;
  border-radius: 5px;
}

.FormLabel {
  font-family: Trim,'Now-Bold',Oscine;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #242d34;
  letter-spacing: .0em;
  word-spacing: initial;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-decoration: none;
  text-rendering: auto;
  border: 0;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  display: block;
}

.FormDiv {
  background: #f8fc00;
  margin: 20px;
  width: 50%;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  border-radius: 2px;
}

.CircularProgressbar {
    width: 8%;
    margin: 15px;
    padding-left: 10px;
    border-radius: 5px;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #f8fc00;
    stroke-linecap: butt;
    transition: stroke-dashoffset 0.5s ease 0s;
}
  
.CircularProgressbar .CircularProgressbar-trail {
    stroke: #343b3f;
}
  
.CircularProgressbar .CircularProgressbar-text {
    fill: #f8fc00;
    font-size: 25px;
    font-family: Trim,"Now-Bold",Oscine;
    font-style: normal;
    font-weight: 700;
    dominant-baseline: middle;
    text-anchor: middle;
    display: inline-block;
    position: relative;
    border: 0;
    overflow: hidden;
}
